{% extends 'model-page.html' %}
{% block content%}
<div class="text-center" style="width: 80%; margin: 0 auto">
   <h1>Email de recuperação de senha enviado</h1>
   <h5>Foi enviado o email de recuperação de senha para o email informado.</h5><br>
   <h6 style="width: 60%; margin: 0 auto">Se você não recebeu o email, verifique se é o mesmo email usado na criação da conta ou se está no SPAM.</h6>
</div>
<div class="text-center">
  <a href="{% url 'index' %}">Retornar para a página principal</a>
</div>
{% endblock%}