<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column">
{% extends "model-page.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="titulo">
    <h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CRM Sistema de Gestão de Clientes</h1>
</div>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Crie sua conta</p>
                                <form class="mx-1 mx-md-4" method="POST">{% csrf_token %}
                                    {{form.first_name|as_crispy_field}}
                                    {{form.email|as_crispy_field}}
                                    {{form.username|as_crispy_field}}
                                    {{form.password1|as_crispy_field}}
                                    {{form.password2|as_crispy_field}}
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-dark btn-lg">Cadastrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
</body>
<style>
    html, body {
        height: 100%;
    }

    main {
        flex: 1 0 auto;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        flex-shrink: none;
        margin-top: 2em;
    }

</style>